#gallery{
	position:relative;/*has to be postion:relativ or static*/
    width:800px; /*change this*/
	font-family:"Arial";
	font-size:14px;
	line-height:20px;
}
#imageareaContent img{
    width:770px; /*change this*/
}

/*scrollGallery Design*/
#gallery{
	margin:0px;
	padding:0px;
}

#scrollGalleryHead{
	padding:10px 10px 0px 10px;
	margin-top:50px;
    background-color:#333333;
}

#scrollGalleryFoot{
	padding:10px 10px 0px 10px;
	margin-top:5px;
    background-color:#333333;
}


#thumbarea{
	overflow: auto; 
	overflow-y: hidden; 
	overflow-x: auto;
	width:100%; 
	margin:0px; 
	padding:0px;
	border-bottom: 4px solid #333333;
}
#thumbareaContent{
 	white-space: nowrap;       /* important */	
}
#thumbareaContent img{
	padding:0px;
    margin:0px;
	margin-right:8px;
	cursor:pointer;
    border: 3px solid #ffffff;
}
#imagearea{
	overflow: auto; 
	overflow-y: hidden; 
	overflow-x: auto;
	width:100%; 
	margin:0px; 
	padding:0px;
	border-bottom: 4px solid #333333;
}
#imageareaContent{
 	white-space: nowrap;       /* important */
}
#imageareaContent img{
    margin:0px;
	padding:0px;
    border: 3px solid #ffffff;
	display:inline;
}

/*Caption Version*/
#imageareaContent .caption_container{
	position:relative;
	display:inline;
}
#imageareaContent .caption_container div{
	position:absolute;
	display:inline;
	padding:5px 10px 5px 10px;
	background-color:#fff;
	margin:0px;
	margin-top:-15px;
	z-index:auto;
	top:0px;
	left:0px;
	line-height:14px;
}